{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}

<div class="container">
    <div class="row mt-5 mb-3">
        <div class="page-header">
            <h4>{{heading}}</h4>
        </div>
    </div>

    <!-- Render Forms -->
    <div class="row mb-3">
        <div class="col-md-6">
            {{render_form(form)}}
        </div>
    </div>

    <div class="row mt-5 mb-3">
        <!-- Show the Register Link on the Login Form -->
        {% if heading|lower == 'login' %}
        <div class="col-md-4 mb-5">
            <p>Don't have an account?
                <a href="{{ url_for('auth.register') }}">Click Here to Make an Account</a>!
            </p>
        </div>
        {% endif %}

        <!-- Show the Login Link on the Register Form -->
        {% if heading|lower == 'register' %}
        <div class="col-md-4 mb-5 ml-5">
            <p>Already have an Account?
                <a href="{{ url_for('auth.login') }}">Click Here to Login</a>.
            </p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}